/* CUSTOM CURSOR */

body {
    cursor: url("../images/arrows/orange.png"), auto;
}

a {
    text-decoration: none;
    color: #ccc;
}

img {
    width: 25%;
}

.slide-in {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

header.intro {
    margin-left: 50px; 
}

h1 {
    font-size: 80px;
}

.char {
    transform: translateY(50px);
    transition: transform 0.5s;
}

.container {
    max-width: 156.6rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

p {
    font-size: 4.8rem;
    letter-spacing: -0.03em;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.text__effect {
    position: relative;
}
.text__overlay {
    display: block;
    position: absolute;
    height: 101%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    opacity: 0.7;
    transform-origin: center right;
}

.text-block {
    width: 70%;
    margin-left: 80px;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.sentence {
    font-size: 30px;
    color: #ccc;
    line-height: 40px;
}

.intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.resume-btn {
    margin-top: 20px;
    background-color:rgb(91, 62, 254);
    color: #ccc;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.resume-btn:hover {
    border: 1px solid rgb(91, 62, 254);
}

.arrow_out {
    margin-left: 20px;
}

a.resume {
    display: block;
}

/* Phone Media Query */

@media screen and (min-width: 500px) and (max-width: 768px) {
    /* SLIDE IN GRAPHICS */
    
    .slide-in {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    header.intro {
        margin: 0;
    }

    img#profile {
        width: 30%;
    }

    #myText,
    #myText2 {
        text-align: center;
    }
    
    /* SCROLL TEXT ANIMATION  */
    
    .sentence {
        font-size: 25px;
        color: rgb(16,16,16);
        line-height: 30px;
    }
    
    .contact {
        color: rgb(16,16,16);
    }
  
}
 
@media screen and (max-width: 500px) {
    h1 {
        font-size: 40px;
    }
    
    .slide-in {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }

    header.intro {
        padding-top: 40px;
        margin-left: 10px;
    }

    img {
        width: 50%;
    }

    .resume-btn {
        width: 60%;
    }

    .container {
        max-width: 100vw;
        padding: 0;
        padding-right: 20px;
    }
}