/* Google Font Imports */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Gloock&family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Shippori+Antique&family=Unbounded:wght@200..900&display=swap');

.dm-sans-light {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.dm-sans-regular {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dm-sans-medium {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.dm-sans-medium-italic {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}

.dm-sans-semibold {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.gloock-regular {
    font-family: "Gloock", serif;
    font-weight: 400;
    font-style: normal;
}

.shippori-antique-regular {
    font-family: "Shippori Antique", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.unbounded-regular {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.unbounded-extrabold {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.outfit-light {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.outfit-regular {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.outfit-medium {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.outfit-bold {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.outfit-black {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.jost-regular {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* DEFAULT DARK MODE */

.dark {
    background-color: rgb(16, 16, 16);
    color: #ddd;
}

/* NAV BAR */

#navBar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

ul {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
}

li {
    text-transform: capitalize;
    width: 80px;
    padding-bottom: 10px;
    margin-right: 5px;
    color: #ccc;
    border-bottom: 2px solid #333;
    font-size: 15px;
    cursor: pointer;
    transition: all 1s;
    text-align: center;
}

.active {
    color: #fff;
    border-bottom: 2px solid #fff;
    line-height: 20px;
    font-size: 16px;
}

/* CONTACT MODAL */

.btn {
    color: rgb(91, 62, 254);
}

.intro_form {
    color: #ccc;
    margin-left: 35px;
    font-size: 25px;
    margin-right: 35px;
}

.modal {
    background: rgb(31, 31, 32);
}

.modal-content {
    background: rgb(0, 0, 0)
}

.modal-header {
    border-bottom: none;
    padding-left: 50px;
    padding-bottom: 0;
    padding-top: 40px;
}

#contactForm {
    font-size: 30px;
}

.modal-footer {
    border-top: none;
}

.subject {
    padding-top: 30px;
    margin-left: 2px;
}

.subject_title {
    font-size: 22px;
    padding-left: 0;
}

.btn-close {
    color: #ccc;
}

.message_title {
    font-size: 22px;
    padding-top: 50px;
}

.modal-header .btn-close-icon {
    color: #ccc;
    font-size: 50px;
    margin-left: 50%;
}

.intent {
    margin-top: 10px;
}

.dismissal {
    padding-top: 30px;
    padding-left: 535px;
}

.close-btn {
    background-color: #ccc;
    color: rgb(31, 31, 32)
}

.send-btn {
    background-color: rgb(91, 62, 254);
    color: #ccc;
}

.close-btn:hover {
    border: 1px solid #ccc;
}

.send-btn:hover {
    border: 1px solid rgb(91, 62, 254)
}

/* FOOTER */

.separator {
    margin-top: 50px;
    margin-left: 120px;
    width: 80%;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}

.footer {
    margin-left: 120px;
    padding-bottom: 100px;
}

.copyright {
    margin-top: 50px;
}

.socials {
    margin-top: 20px;
    width: 30%;
    margin-right: 60px;
}

.socials img {
    width: 20%;
    height: auto;
    padding-left: 10px;
}

#linkedin {
    width: 28%;
}

/* UP BUTTON */

.upBtn {
    position: fixed;
    bottom: 30px;
    right: 20px;
}

#up {
    opacity: 0.5;
    width: 70%;
}

/* Phone Media Query */

@media screen and (min-width: 500px) and (max-width: 768px) {
    .dark {
        background-color: #ccc;
        color: rgb(16, 16, 16);
    }

    li {
        text-transform: capitalize;
        width: 80px;
        padding-bottom: 10px;
        margin-right: 5px;
        border-bottom: 2px solid rgb(16, 16, 16, 0.2);
        font-size: 15px;
        cursor: pointer;
        transition: all 1s;
        text-align: center;
    }

    li a {
        color: rgb(69, 68, 68);
    }

    .active {
        color: black;
        border-bottom: 2px solid rgb(16, 16, 16);
        line-height: 20px;
        font-size: 16px;
    }

    #up {
        opacity: 0.3;
        filter: invert(48%) sepia(13%) saturate(0%) hue-rotate(130deg) brightness(25%) contrast(80%);
    }

    /* FOOTER */

    .separator {
        margin-left: 50px;
        border-bottom: 1px solid rgba(75, 75, 75, 0.713);
    }

    .footer {
        margin-left: 50px;
    }

    .copyright {
        margin-top: 20px;
    }

    .copyright h3 {
        font-size: 25px;
    }

    .socials {
        width: 40%;
        margin-right: 10px;
    }

    /* CONTACT MODAL */

    .btn {
        color: rgb(91, 62, 254);
    }

    .intro_form {
        color: #ccc;
        margin-left: 0;
        font-size: 25px;
        margin-right: 0;
    }

    .modal {
        background: rgb(31, 31, 32);
    }

    .modal-content {
        background: rgb(0, 0, 0);
    }

    .modal-title {
        color: #ccc;
    }

    .modal-header {
        border-bottom: none;
        padding-left: 20px;
        padding-bottom: 5px;
        padding-top: 20px;
    }

    #contactForm {
        font-size: 20px;
    }

    .modal-footer {
        border-top: none;
    }

    .subject {
        padding-top: 0;
        margin-left: 0;
    }

    .subject_title {
        font-size: 20px;
        padding-left: 0;
        color: #ccc;
    }

    .btn-close {
        color: #ccc;
    }

    label {
        color: #ccc;
    }

    .message_title {
        font-size: 22px;
        padding-top: 0;
        color: #ccc;
    }

    .modal-header .btn-close-icon {
        color: #ccc;
        font-size: 40px;
        margin-left: 230px;
        margin-top: 0;
    }

    .intent {
        margin-top: 10px;
    }

    .dismissal {
        padding-top: 30px;
        padding-left: 240px;
    }

    .close-btn {
        background-color: #ccc;
        color: rgb(31, 31, 32)
    }

    .send-btn {
        background-color: rgb(91, 62, 254);
        color: #ccc;
    }
}

@media screen and (max-width: 500px) {

    /* CONTACT MODAL */
    .modal-header .btn-close-icon {
        margin-left: 30px;
        margin-top: 0;
    }

    .modal-header {
        padding-top: 20px;
    }

    #contactForm {
        font-size: 25px;
    }

    .dismissal {
        padding-left: 114px;
    }

    .separator {
        margin-left: 50px;
    }

    .footer {
        margin-left: 50px;
        margin-top: 10px;
    }

    .copyright {
        margin-top: 10px;
    }

    h3.outfit-regular {
        font-size: 10px;
    }

    .socials {
        margin-top: 10px;
        width: 40%;
        margin-right: 10px;
    }

    .socials img {
        width: 20%;
        padding-left: 0;
    }

    ul {
        margin-top: 60px;
    }

    li {
        font-size: 13px;
        width: 70px;
    }
}