/* CUSTOM CURSOR */

body {
    cursor: url("../images/arrows/sunrise.png"), auto;
    overflow-x: hidden;
}

/* GENERAL SETUP */

h1,
h2 {
    font-size: 16rem;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1;
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

/* SLIDE IN GRAPHICS */

.slide-in {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.logo {
    width: 75%;
}

#myText,
#myText2 {
    font-size: 120px;
}

/* NAME STAGGER */

header {
    display: grid;
    place-content: center;
    height: 60vh;
}

h1 {
    font-size: 7rem;
    text-transform: uppercase;
    clip-path: polygon(0 0,100% 0, 100% 100%, 0% 100%);
}

.char {
    transform: translateY(150px);
    transition: transform .5s;
}

/* SCROLL TEXT ANIMATION  */

.container {
    max-width: 156.6rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

p {
    font-size: 4.8rem;
    letter-spacing: -0.03em;
    line-height: 1.5;
}

.text__effect {
    position: relative;
}
.text__overlay {
    display: block;
    position: absolute;
    height: 101%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    opacity: 0.7;
    transform-origin: center right;
}

.text-block {
    margin-left: 80px;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.sentence {
    font-size: 30px;
    color: #ccc;
    line-height: 30px;
}

a {
    text-decoration: none;
    color: #ccc;
}

.contact {
    color: #ccc;
    text-decoration: none;
    border-bottom: 2px solid rgb(91, 62, 254);
}

/* PROFILE */

.image {
    width: 100%;
}

.container {
    width: 80%;
    padding: 0;
}

.expertise img {
    padding-top: 30px;
}

h2.im {
    font-size: 100px;
}

/* SKILLS */

.skill_text {
    margin-top: 200px;
    font-size: 100px;
    margin-left: 125px;
}

.skills img {
    width: 100%;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 120px;
    margin-right: 200px;
    border-radius: 0.5rem;
    background: linear-gradient(-45deg, #b676e4, #8963da, #1ccaad, #a8d135, #3c8ce7, #e73c7e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    width: 80%;
	height: 40vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.skill-block > .row {
    padding-bottom: 0;
}

#cplusplus {
    padding: 3% 60px 2%;
    padding-top: 2%;
    width: 18%;
}

#html {
    padding: 3% 60px 2%;
    width: 20%;
}

#css {
    padding: 3% 60px 2%;
    width: 18%;
}

#js {
    padding: 3% 60px 2%;
    width: 25%;
    height: auto;
}

#python {
    padding: 3% 60px 2%;
    width: 18%;
    height: auto;
}

#github {
    padding: 0 60px;
    width: 17%;
    height: auto;
    padding-bottom: 2%;
}

#adobe {
    padding: 0 60px;
    width: 17%;
    height: auto;
    padding-bottom: 2%;
}

#figma {
    padding: 0 60px;
    width: 15%;
    height: auto;
    padding-bottom: 2%;
}

#sql {
    padding: 0 70px 0 50px;
    width: 22%;
    height: auto;
    padding-bottom: 2%;
}

.logo_cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#resume-div {
    display: none;
    width: 100%;
    padding-bottom: 10px;
}

.resume-btn {
    margin-top: 20px;
    background-color:rgb(91, 62, 254);
    color: #ccc;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.resume-btn:hover {
    border: 1px solid rgb(91, 62, 254);
}

.arrow_out {
    margin-left: 20px;
}

/* Phone Media Query */

@media screen and (max-width: 768px) {
    /* SLIDE IN GRAPHICS */
    
    .slide-in {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .logo {
        width: 30%;
    }

    #myText,
    #myText2 {
        text-align: center;
    }
    
    /* SCROLL TEXT ANIMATION  */
    
    .sentence {
        font-size: 25px;
        color: rgb(16,16,16);
        line-height: 30px;
    }
    
    .contact {
        color: rgb(16,16,16);
    }
    
    /* SKILLS */
    
    .skill_text {
        margin-left: 50px;
    }
    
    .skills img {
        width: 100%;
    }
    
    .skills {
        margin-left: 50px;
        display: flex;
        height: 70vh;
    }
    
    #cplusplus {
        width: 30%;
    }

    #html {
        width: 31%;
    }

    #css {
        width: 28%;
    }

    #js {
        width: 37%;
        padding-top: 0;
        padding-left: 40px;
    }

    #python {
        width: 30%;
        padding-left: 40px;
    }

    #github {
        width: 30%;
    }

    #adobe {
        width: 30%;
    }

    #figma {
        width: 28%;
        padding-left: 50px;
        margin-left: 30px;
    }

    #sql {
        width: 32%;
    }
 }
 
 