/* CUSTOM CURSOR */

body {
    cursor: url("../images/arrows/aqua.png"), auto;
}

a {
    text-decoration: none;
    color: #ccc;
}

img {
    width: 100%;
}

.slide-in {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding-bottom: 220px;
}

h1 {
    font-size: 120px;
}

h1 .char {
    transform: translateY(100px);
    transition: transform 0.5s;
}


h4 .char {
    transform: translateY(10px);
    transition: transform 0.5s;
}

.container {
    max-width: 156.6rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

p {
    font-size: 4.8rem;
    letter-spacing: -0.03em;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.text__effect {
    position: relative;
}
.text__overlay {
    display: block;
    position: absolute;
    height: 101%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    opacity: 0.7;
    transform-origin: center right;
}

.text-block {
    width: 70%;
    margin-left: 80px;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.sentence {
    font-size: 30px;
    color: #ccc;
    line-height: 40px;
}

.intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* PROJECT CARDS */

#layout {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 40px;
    margin-right: 30px;
}

.card {
    position: relative;
    width: 30%;
    overflow: hidden;
    margin: 24px auto;
    background-color: black;
}

.mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgb(234, 232, 232);
    transition: all 0.2s ease-in;
}

.card:hover .mask {
    opacity: 1;
}

.card .mask h4,
.card .mask p,
.card .mask a {
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s ease-out;
}

.card:hover .mask h4,
.card:hover .mask p,
.card:hover .mask a {
    opacity: 1;
    transform: scale(1);
}

#layout span {
    padding-left: 15px;
}

.mask p {
    font-size: 20px;
}

.mask h4,
.mask p {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.learn-btn {
    margin-top: 20px;
    background-color:rgb(91, 62, 254);
    color: rgb(230, 230, 230);
    width: 60%;
    padding-top: 5px;
    padding-bottom: 10px;
    transition: all 0.5s ease-in-out;
}

.learn-btn:hover {
    background-color: black;
    color: rgb(230, 230, 230);
}

.db p {
    padding-top: 10px;
    font-size: 15px;
}

.db h4 {
    padding-top: 10px;
    font-size: 20px;
}

#layout a {
    color: rgb(230, 230, 230);
}

/* Phone Media Query */

@media screen and (min-width: 500px) and (max-width: 768px) {
    .slide-in {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .logo {
        width: 30%;
    }

    #myText,
    #myText2 {
        text-align: center;
    }
    
    /* SCROLL TEXT ANIMATION  */
    
    .sentence {
        font-size: 25px;
        color: rgb(16,16,16);
        line-height: 30px;
    }
    
    .contact {
        color: rgb(16,16,16);
    }

    header h1 {
        margin-top: 25%;
        font-size: 90px;
    }

    #layout {
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        width: 80%;
    }
 }
 
@media screen and (max-width: 500px) {
    .slide-in {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }
    
    /* SCROLL TEXT ANIMATION  */
    
    .contact {
        color: rgb(16,16,16);
    }

    header h1 {
        margin-top: 25%;
        font-size: 50px;
    }

    #layout {
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
    }
    
    .card {
        width: 80%;
    }
}